<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Better Alteryx Scheduler</title>

    <script src="https://unpkg.com/htmx.org@1.9.10" integrity="sha384-D1Kt99CQMDuVetoL1lrYwg5t+9QdHe7NLX/SoJYkXDFfX37iInKRy5xLSi8nO7UC" crossorigin="anonymous"></script>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body>
    <h1 class="p-6 bg-red-500">Movie list for updates</h1>
    <dir class="mx-4">
        <p class="text-2xl font-bold mb-4">Movie List</p>

        <table class="min-w-[50%] mb-4">
            <thead class="border-b text-lg">
                <tr>
                    <th class="border">Title</th>
                    <th class="border">Director</th>
                </tr>
            </thead>
            <tbody class="text-centre text-sm" id="table-body">
              {% include 'partial/table.html' %}

            </tbody>
        </table>
        
        <button class="px-3 py-1 bg-blue-600 text-white ml-4"
            hx-get="/" 
            hx-target="#table-body"
            hx-swap="beforeend">Load More</button>
    </dir>
</body>
</html>